*.jpg
*.png
*.jpeg
*.svg
*.webp
*.gif
*.woff
*.woff2
*.woff2
*.lock
*.ico
*.txt
*.mp4
*.icns
*.log
.gitignore
.browserslistrc
.gitattributes
.prettierignore
.DS_Store
.editorconfig
.gitkeep
.htaccess
