<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.html', { fontSize: 20, favicon: siteMeta.iconUrl }) %>
    <title><%= siteMeta.title %></title>
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="<%= siteMeta.title %>" />
    <% if (siteMeta.description) { %>
    <meta name="description" content="<%= siteMeta.descriptionPlain %>" />
    <meta property="og:description" content="<%= siteMeta.descriptionPlain %>" />
    <% } %> <% if (siteMeta.iconUrl) { %>
    <meta property="og:image" content="<%= siteMeta.iconUrl %>" />
    <% } %>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "<%= siteMeta.title %>",
        "url": "https://war.apexi.tech",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "{search_term_string}",
          "query-input": "required name=search_term_string"
        }
      }
    </script>
  </head>

  <body>
    <%- include('partials/navbar.html', { siteMeta }) %>
    <header class="Header">
      <% if (siteMeta.cover) { %>
      <div class="Header__Cover">
        <img src="<%= siteMeta.cover %>" />
      </div>
      <% } %>
      <div class="Header__Spacer <% if (!siteMeta.cover) { %>Header__Spacer--NoCover<% } %>"></div>
      <% if (siteMeta.iconUrl) { %>
      <div class="Header__Icon">
        <span><img class="inline-img-icon" src="<%= siteMeta.iconUrl %>" /></span>
      </div>
      <% } %>
      <h1 class="Header__Title"><%= siteMeta.title %></h1>
      <% if (siteMeta.description) { %>
      <div class="Header__Desc">
        <span class="Header__DescBigQuoteMark">&ldquo;</span>
        <%- siteMeta.descriptionHTML %>
        <span class="Header__DescBigQuoteMark">&bdquo;</span>
      </div>
      <% } %>
    </header>
    <%- include('partials/articleList.html', { pages: siteMeta.pages.filter(page => page.publish && page.inList) }) %>
    <%- include('partials/footer.html', { siteMeta }) %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HRJ16TF01K"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'G-0VHTY1LMEE')
    </script>
  </body>
</html>
